<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="container col-md-6 col-md-offset-3" style="margin-top: 20px">
    <#include "../common/search.html" encoding="UTF-8"/>
</div>

<!-- 展示所有秒杀的商品 -->
<div class="container col-md-10 col-md-offset-1" style="margin-top: 20px; background-color: blanchedalmond;">

    <#list goods as good>
        <div class="col-sm-2" style="height: 250px; background-color: darkcyan; color: white; margin-left: 10px">
            <img src="${good.goodPic}" height="150px" style="padding-bottom: 5px">
            <h4 style="text-align: center">${good.goodName}</h4>
            <h5 style="text-align: center">${good.goodDescription}</h5>
        </div>
    </#list>

</div>

</body>

<#include "../common/common.html" encoding="UTF-8"/>

</html>