<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
</head>
<body>

<!-- 搜索 -->
<div class="container col-md-6 col-md-offset-3" style="margin-top: 100px">

    <form action="#" method="post">
        <div class="col-md-10">
            <input class="form-control" type="text" placeholder="输入搜索的内容"/>
        </div>
        <input class="btn btn-success col-md-2" type="submit" value="搜索"/>
    </form>
</div>

<!-- 推荐商品 -->
<div class="container col-md-8 col-md-offset-2" style="margin-top: 20px; background-color: blanchedalmond;">

    <#list goods as good>
        <div class="col-sm-2" style="height: 250px; background-color: darkcyan; color: white; margin-left: 10px">
            <img src="${good.goodPic}" height="150px" style="padding-bottom: 5px">
            <h4 style="text-align: center">${good.goodName}</h4>
            <h5 style="text-align: center">${good.goodDescription}</h5>
        </div>
    </#list>

</div>

</body>

<#include "./common/common.html" encoding="UTF-8"/>

</html>