<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.acg_shop.dao.GoodDao">

    <sql id="Goods_Table_Column">
        ${good}.id, ${good}.good_id, ${good}.good_name, ${good}.good_description, ${good}.good_pic
    </sql>

    <resultMap id="Goods_Table_Base_Map" type="Good">
        <id property="id" column="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="gid" column="gid" javaType="Integer" jdbcType="INTEGER"/>
        <result property="goodName" column="good_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="goodDescription" column="good_description" javaType="String" jdbcType="VARCHAR"/>
        <result property="goodPic" column="good_pic" javaType="String" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询 -->
    <select id="queryAll" resultMap="Goods_Table_Base_Map">
        SELECT
        <include refid="Goods_Table_Column">
            <property name="good" value="G"/>
        </include>
        FROM goods_table AS G
    </select>

    <!-- 插入 -->
    <insert id="insert" parameterType="Good">
        INSERT INTO goods_table
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodId != null">
                good_id,
            </if>
            <if test="goodName != null">
                good_name,
            </if>
            <if test="goodDescription != null">
                good_description,
            </if>
            <if test="goodPic != null">
                good_pic,
            </if>
        </trim>
        <trim prefix=" VALUES (" suffix=")" suffixOverrides=",">
            <if test="goodId != null">
                #{goodId},
            </if>
            <if test="goodName != null">
                #{goodName},
            </if>
            <if test="goodDescription != null">
                #{goodDescription},
            </if>
            <if test="goodPic != null">
                #{goodPic},
            </if>
        </trim>
    </insert>

    <!-- 删除 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM goods_table WHERE good_id = #{goodId}
    </delete>

</mapper>